/* General */
html,
body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fcfcfc;
  padding: 20px;
}

button {
  cursor: pointer;
  border: none;
}

/* specific */
main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  color: #3b4dea;

  font-weight: 700;
}

.generator__textarea-wrapper {
  position: relative;
  margin-top: 44px;
  width: 100%;
  max-width: 748px;
  height: 272px;
}

.generator__textarea {
  display: block;
  width: 100%;
  height: 100%;

  border: 1px solid #3b4dea;
  border-radius: 4px;

  resize: none;

  padding: 20px 36px;

  background-color: #fff;
}

.generator__textarea:focus,
.generator__textarea:focus,
.generator__textarea:focus-within {
  border: 1px solid #3b4dea;
  outline: none;
  box-shadow: none;
}

.generator__copy-btn {
  position: absolute;
  top: 11px;
  right: 11px;

  border: none;
  background-color: transparent;
}

.generator__copy-img {
  width: 24px;
  height: 24px;
}

.generator-buttons-wrapper {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.generator__generate-btn {
  width: 172px;
  height: 52px;
  background: #3b4dea;
  border-radius: 4px;
  color: #fff;

  font-size: 22px;
  line-height: 27px;
}

.generator__clear-btn {
  width: 130px;
  height: 52px;
  background: #fff;
  border-radius: 4px;

  color: #3b4dea;

  border: 1px solid #3b4dea;

  font-size: 22px;
  line-height: 27px;
}

@media screen and (max-widtH: 375px) {
  .generator-buttons-wrapper {
    gap: 10px;
  }
  .generator__clear-btn, .generator__generate-btn {
    width: 100%;
  }
}
